*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --color-white: #fff;
    --color-black: #000;
    --color-grey-dark: #777;
    /* rgb(65, 88, 208) */
    /* rgb(200, 80, 192) 
    rgb(255, 204, 112)
    */
    --color-primary: #4158D0;
    --color-secondary: #C850C0;
    --color-tertiary: #FFCC70;

    /* --color-primary: rgb(65, 88, 208);
    --color-secondary: rgb(200, 80, 192);
    --color-tertiary: rgb(255, 204, 112); */
}

/* rgb(231, 113, 125)  */

html {
    font-size: 62.5%; 
    /* roughly = 10 px */
}

html, body {
    font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: var(--color-grey-dark);
}

body{
    margin: 15px;
    overflow-x: hidden;
}

h2 {
    font-size: 5rem;
    margin: 50px auto;
    font-weight: bold;
}

.container {
    /* display: none; */
    /* background: linear-gradient(to right, rgba(233, 236, 239, 0.7), rgba(33, 37, 41, 0.7)); */
    /* height: 70px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    /* background: rgba(255, 255, 255, 0.50); */
    /* color: black; */
    position: absolute;
    top: 5%;
    right: 5px;
    left: 5px;
    z-index: 99;
    width: 100%;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    /* visibility: hidden; */
}

.header-logo {
    width: 70px;
}

.header-right ul {
    display: flex;
    list-style: none;
}

.header-right ul li {
    margin-left: 2em;
    /* color: white; */
}

.nav-link {
    text-decoration: none;
    /* color: black; */
    color: var(--color-white);
    padding-bottom: 0.25em;
    font-weight: 300;
    font-size: 2rem;
}

.txt-type{
    /* color: red; */
    /* color: #ff9900; */
    color: var(--color-white);
}

nav a:hover,
nav a:focus {
    border-bottom: 2px solid var(--color-one);
}

.container-1{
    padding: 1em;
    /* background-color: #4158D0; */
    /* background-image: linear-gradient(43deg, var(--color-primary) 0%, var(--color-secondary) 46%, var(--color-tertiary) 100%), url(../images/hero.jpg); */
    background-image: linear-gradient(43deg, rgba(65, 88, 208, 0.85), rgba(200, 80, 192, 0.85), rgba(255, 204, 112, 0.85)),
    url(../images/hero.jpg);
    /* background-image: linear-gradient(to right bottom, rgba(var(--color-primary), 0.8), rgba(var(--color-secondary), 0.8)); */
    /* url(../images/hero.jpg); */
    /* background-blend-mode: screen; */
	background-position: top;
    background-size: cover;
    /* min-height: calc(100vh - 70px); */
    min-height: 95vh;
    margin-bottom: 2em;
    color: #f8f9fa;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}

h1{
    /* font-family: 'Raleway', sans-serif; */
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 0.35em;
}

h2{
    font-weight: 300;
    /* font-size: 2em; */
}

.heading-primary {
	color: var(--color-white);
	text-transform: uppercase;

	backface-visibility: hidden;
	margin-bottom: 6rem;
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 2.0rem;
    text-shadow: 0px 0px 5px var(--color-white);
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    margin-right: 1.2rem;
    margin-bottom: 1.5rem;
    animation: moveInRight 1s ease-out;
}

.position-header{
    /* position: absolute; */
    /* left: 2%; */
    /* bottom: 10%; */
}

.about{
    width: 75%; 
    font-size: 1.6rem;
    margin: 0 auto;
    text-align: center;
    /* border-color: black;
    border-width: 1px 4px 4px 1px; */
    padding: 2em 5em;
    margin-bottom: 5em;
    /* background-color: #000;  */
}

.about-title{
    /* font-weight: 300; */
    font-size: 4rem;
    /* color: #161a1d; */
    /* color: #ff9900; */
    /* box-shadow: 1px 2px 0.4% #ffa62b; */
    margin-bottom: 1em;
    background: #fff;
    /* box-shadow: 0 8px 8px -4px lightblue; */
    font-weight: 500;
    /* padding: 0.45em 0; */
    /* border-top: 1px solid #000; */
    /* border-bottom: 1px solid #000; */
}

.about-img{
    width: 50%;
    margin: 0 auto;
}

.about-body {
    display: flex;
    gap: 2em;
    /* border: 2px solid #000;
    border-right-width: 5px;
    border-bottom-width: 5px; */
    padding: 3em;
    border-radius: 15px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
}

.about-left * {
    /* border: 1px solid black; */
    margin: 0.75em 0;
    /* background: #ffa62b; 
    color:#f2f2f2; */
    border-radius: 4px;
    /* margin-right: 2.5em; */

    /* opacity: 1; */
    /* padding: 1em; */
}


.about-left {
    min-width: 300px;
    align-self: center;
}

.about-border-right {
    border-left: 1px solid black;
    height: 45rem;
    align-self: center;
}

.about-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3em;   
}

.about-desc {
    font-weight: 500;
    margin-bottom: 30px;
    text-align: justify;
}

.skills-group {
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    max-width: 100%;
    padding: 0;
    margin-bottom: 1em;
}

h3:not(.name) {
    font-size: 1.5rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}

.skills-tag {
    /* border: 3px solid #232323; */
    /* border: 3px solid var(--black); */
    border-radius: 1px;
    font-size: 2rem;
    margin: 5px;
    padding: 12px 15px 8px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills-img{
    /* border: 1px solid #adb5bd; */
    width: 50px;
    margin-right: 5px;
    padding: 0.35em;
    border-radius: 3px;
    /* box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2); */
    /* background: #000; */
    /* box-shadow: 0.5rem 0.5rem 0.5rem #343a40, -0.5rem -0.5rem 0.5rem #ccc; */
    /* box-shadow: 0 1.5rem 4rem rgba(36, 0, 70, .25); */
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .25);
}

.projects{
    width: 65%;
    margin: 0 auto;
    text-align: center;
    /* height: 400px; */
}

.project-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-top: 3rem;
}

.card{
    perspective: 150rem; 
	-moz-perspective: 150rem; 
	position: relative;
	height: 50rem;
}

.card-side{
    font-size: 2rem;
    height: 50rem;
    transition: all .8s ease;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, .15);
}

.card-front{
    background-color: var(--color-white);
}

.card-side-back{
    transform: rotateY(180deg);
    /* border: 2px solid red; */
}

.card-side-back-1 {
    /* background-image: linear-gradient(to right bottom, var(--color-one), var(--color-five)); */
    /* background: orange; */
    /* background-image: linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2);  */
    background-image: linear-gradient(to right bottom, #4158D0, #C850C0);

}

.card:hover .card-side-front {
    transform: rotateY(-180deg);
}

.card:hover .card-side-back {
    transform: rotateY(0);
}

.card-picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card-picture-1{
    background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary)),
        url(../images/card-img.jpeg);

}

.card-picture-2{
    background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary)),
        url(../images/color_scheme.png);
}

.card-picture-3{
    background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary)),
        url(../images/password_generator.png);
}

.card-picture-4{
    background-image: linear-gradient(to right bottom, var(--color-primary), var(--color-secondary)),
        url(../images/quizzical.png);
}

.card-heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: var(--color-white);
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
}

.card-heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.card-heading-span-1 {
    background-image: linear-gradient(
        to right bottom,
        rgba(43, 103, 119, .85),
        rgba(82, 171, 152, .85)
    );
}

.card-details {
    padding: 3rem;
}

.card ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
	color: var(--color-grey-dark);
}

.card li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.card li:not(:last-child) {
    border-bottom: 1px solid var(--color-grey-dark);
}

.btns-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer i{
    color: white;
    font-size: 3.5rem;
}

ul{
    list-style: none;
}


/* footer */

footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 1.4rem;
}

.footer-list {
    padding: 10px;
    display: flex;
}
  
.footer-list > .footer-list-item {
    margin: 5px 13px;
}

.btn, 
.btn-link,
.btn-visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    font-size: 1.5rem;
    position: relative;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
    box-shadow: 0 1rem 2rem rgba(255,255,255,.2);
}

.btn::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active,
.btn:focus {
    outline: none;
    transform: translateY(-.1rem);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
    box-shadow: 0 1rem 1rem rgba(255, 255, 255, .2);
}

.btn {
    background-color: var(--color-black);
    color: var(--color-white);
}

.btn::after{
    background-color: var(--color-white);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

.contact {
    align-items: center;
    height: 50vh;
    justify-content: center;
    margin: 0 auto 100px;
    text-align: center;
    width: 70%;
}

.contact-body {
    font-size: 1.75rem;
    background: #fff;
    border-radius: 10px;
    height: 100%;
    justify-content: space-between;
    max-height: 250px;
    padding: 40px 60px;
    box-shadow: 0 1.5rem 4rem rgba(36, 0, 70, .25);
}

.contact, .contact-body{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


  
  /* .sns-img {
    max-width: 100%;
    width: auto;
    height: 35px;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
  }
  
  .sns-img:hover {
    transform: scale(1.3);
    background: var(--white);
  }
  
  .small {
    margin-bottom: 30px;
  } */

  /* .btn {
	&,
	&:link,
	&:visited {
		text-transform: uppercase;
		text-decoration: none;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all .2s;
		font-size: $default-font-size;
		position: relative;

		// Change for the button element
		border: none;
		cursor: pointer;
	}

	&:hover {
		transform: translateY(-.3rem);
		// box-shadow: 0 1rem 2rem rgba($color-white, .2);
		box-shadow: 0 1rem 2rem rgba($color-black, .2);

		&::after {
			transform: scaleX(1.4) scaleY(1.6);
			opacity: 0;
		}
	}

	&:active,
	&:focus {
		outline: none;
		transform: translateY(-.1rem);
		box-shadow: 0 1rem 1rem rgba($color-black, .2);
		// box-shadow: 0 1rem 1rem rgba($color-white, .2);
	}

	&--white {
		background-color: $color-white;
		color: $color-grey-dark;

		&::after {
			background-color: $color-white;
		}
	}

	&--green {
		background-color: $color-primary;
		color: $color-white;

		&::after {
			background-color: $color-primary;
		}
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .4s;
	}

	&--animated {
		animation: moveInBottom .5s ease-out .75s;
		animation-fill-mode: backwards;
	}
}

.btn-text {
	&:link,
	&:visited {
		font-size: $default-font-size;
		color: $color-primary;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-primary;
		padding: 3px;
		transition: all .2s;
	}

	&:hover {
		background-color: $color-primary;
		color: $color-white;
		box-shadow: 0 1rem 2rem rgba($color-black, .15);
		transform: translateY(-2px);
	}

	&:active {
		box-shadow: 0 .5rem 1rem rgba($color-black, .15);
		transform: translateY(0);
	}
}
 */